Repository cocoa-mhlw/cocoa: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/app/app-build-adhoc-dev.yml, azure-pipelines/app/app-build-debug-dev.yml, azure-pipelines/app/app-build-store-prod.yml, azure-pipelines/app/app-build-use-test-diagnosis-stg.yml

azure-pipelines/app/app-build-adhoc-dev.yml:
  name: $(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: build_ios
    pool:
      vmImage: $(VmImage)
    variables:
    - group: ios-signing-distribution
    - group: ios-build-environment
    - name: DEVELOPER_DIR
      value: /Applications/Xcode_$(XcodeVersion).app
    steps:
  ...

azure-pipelines/app/app-build-debug-dev.yml:
  name: $(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: build_ios
    pool:
      vmImage: macOS-11
    variables:
    - group: ios-signing-development
    - template: templates/variables/ios-build-environment-variables.yml
    steps:
    - template: templates/build/ios-build-development-template.yml
  ...

azure-pipelines/app/app-build-store-prod.yml:
  name: $(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: build_ios
    pool:
      vmImage: macOS-11
    variables:
    - group: ios-signing-distribution
    - template: templates/variables/ios-build-environment-variables.yml
    steps:
    - template: templates/build/ios-build-appstore-template.yml
  ...

azure-pipelines/app/app-build-use-test-diagnosis-stg.yml:
  name: $(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: build_ios
    pool:
      vmImage: macOS-11
    variables:
    - group: ios-signing-development
    - template: templates/variables/ios-build-environment-variables.yml
    steps:
    - template: templates/build/ios-build-development-template.yml

Add BGTaskSchedulerPermittedIdentifiers
  Covid19Radar/Covid19Radar.iOS/Info.plist
Due: azure-pipelines/app/app-build-adhoc-dev.yml, azure-pipelines/app/app-build-debug-dev.yml, azure-pipelines/app/app-build-store-prod.yml, azure-pipelines/app/app-build-use-test-diagnosis-stg.yml

Fix test.
  src/Covid19Radar.Api.Tests/Files/eventlog_submission_parameter1-cleartext.txt
Due: none

Fix unit-test.
  Covid19Radar/Tests/Covid19Radar.UnitTests/Files/eventlog_submission_parameter1-cleartext.txt
Due: azure-pipelines/app/app-build-adhoc-dev.yml, azure-pipelines/app/app-build-debug-dev.yml, azure-pipelines/app/app-build-store-prod.yml, azure-pipelines/app/app-build-use-test-diagnosis-stg.yml

Update package for unit test
  Covid19Radar/Tests/Covid19Radar.UnitTests/Covid19Radar.UnitTests.csproj
Due: azure-pipelines/app/app-build-adhoc-dev.yml, azure-pipelines/app/app-build-debug-dev.yml, azure-pipelines/app/app-build-store-prod.yml, azure-pipelines/app/app-build-use-test-diagnosis-stg.yml

set content type when write blob storage
  src/Covid19Radar.Background/Services/TemporaryExposureKeyBlobService.cs
Due: none

Improved English translation
  Covid19Radar/Covid19Radar/Resources/AppResources.resx
Due: azure-pipelines/app/app-build-adhoc-dev.yml, azure-pipelines/app/app-build-debug-dev.yml, azure-pipelines/app/app-build-store-prod.yml, azure-pipelines/app/app-build-use-test-diagnosis-stg.yml

refactoring
  src/Covid19Radar.Background/Services/TemporaryExposureKeyBlobService.cs
Due: none

不要なテストを除外
  Covid19Radar/Tests/Covid19Radar.UITestV2/BaseTestFixture.cs
  Covid19Radar/Tests/Covid19Radar.UITestV2/Covid19Radar.UITestV2.csproj
  Covid19Radar/Tests/Covid19Radar.UITestV2/Tests/S01_Tests.cs
  Covid19Radar/Tests/Covid19Radar.UITestV2/Tests/S05_Tests.cs
  Covid19Radar/Tests/Covid19Radar.UITestV2/Tests/S06_Tests.cs
  Covid19Radar/Tests/Covid19Radar.UITestV2/Tests/S13_Tests.cs
  Covid19Radar/Tests/Covid19Radar.UITestV2/Tests/S14_Tests.cs
Due: azure-pipelines/app/app-build-adhoc-dev.yml, azure-pipelines/app/app-build-debug-dev.yml, azure-pipelines/app/app-build-store-prod.yml, azure-pipelines/app/app-build-use-test-diagnosis-stg.yml

Fixed english text
  Covid19Radar/Covid19Radar/Resources/AppResources.resx
Due: azure-pipelines/app/app-build-adhoc-dev.yml, azure-pipelines/app/app-build-debug-dev.yml, azure-pipelines/app/app-build-store-prod.yml, azure-pipelines/app/app-build-use-test-diagnosis-stg.yml

UITestプロジェクトファイルから不要なタグの削除
  Covid19Radar/Tests/Covid19Radar.UITestV2/Covid19Radar.UITestV2.csproj
Due: azure-pipelines/app/app-build-adhoc-dev.yml, azure-pipelines/app/app-build-debug-dev.yml, azure-pipelines/app/app-build-store-prod.yml, azure-pipelines/app/app-build-use-test-diagnosis-stg.yml

Add event log function
  Covid19Radar/Covid19Radar.Android/Covid19Radar.Android.csproj
  Covid19Radar/Covid19Radar.Android/MainApplication.cs
  Covid19Radar/Covid19Radar.Android/Services/EventLogSubmissionBackgroundService.cs
  Covid19Radar/Covid19Radar.iOS/AppDelegate.cs
  Covid19Radar/Covid19Radar.iOS/Covid19Radar.iOS.csproj
  Covid19Radar/Covid19Radar.iOS/Info.plist
  Covid19Radar/Covid19Radar.iOS/Services/EventLogSubmissionBackgroundService.cs
  Covid19Radar/Covid19Radar/Common/AppConstants.cs
  Covid19Radar/Covid19Radar/Common/DeviceVerifierUtils.cs
  Covid19Radar/Covid19Radar/Model/V1EventLogRequest.cs
  Covid19Radar/Covid19Radar/Repository/EventLogRepository.cs
  Covid19Radar/Covid19Radar/Repository/SendEventLogStateRepository.cs
  Covid19Radar/Covid19Radar/Repository/UserDataRepository.cs
  Covid19Radar/Covid19Radar/Services/AbsEventLogSubmissionBackgroundService.cs
  Covid19Radar/Covid19Radar/Services/EventLogService.cs
  Covid19Radar/Covid19Radar/Services/EventLogServiceNop.cs
  Covid19Radar/Covid19Radar/Services/ExposureDetectionService.cs
  Covid19Radar/Covid19Radar/Services/HttpDataService.cs
  Covid19Radar/Covid19Radar/Services/HttpDataServiceMock.cs
  Covid19Radar/Covid19Radar/Services/IHttpDataService.cs
  Covid19Radar/Covid19Radar/Services/ILocalPathService.cs
  Covid19Radar/Tests/Covid19Radar.UnitTests/Files/eventlog_submission_parameter1-cleartext.txt
  Covid19Radar/Tests/Covid19Radar.UnitTests/Services/ExposureDetectionServiceTests.cs
  Covid19Radar/Tests/Covid19Radar.UnitTests/Services/HttpDataServiceTests.cs
Due: azure-pipelines/app/app-build-adhoc-dev.yml, azure-pipelines/app/app-build-debug-dev.yml, azure-pipelines/app/app-build-store-prod.yml, azure-pipelines/app/app-build-use-test-diagnosis-stg.yml

Fixed error handling etc
  Covid19Radar/Covid19Radar.Android/Services/EventLogSubmissionBackgroundService.cs
  Covid19Radar/Covid19Radar.iOS/Services/EventLogSubmissionBackgroundService.cs
  Covid19Radar/Covid19Radar/App.xaml.cs
  Covid19Radar/Covid19Radar/Common/AppConstants.cs
  Covid19Radar/Covid19Radar/Repository/EventLogRepository.cs
  Covid19Radar/Covid19Radar/Services/EventLogService.cs
  Covid19Radar/Covid19Radar/Services/EventLogServiceNop.cs
  Covid19Radar/Tests/Covid19Radar.UnitTests/Repository/SendEventLogStateRepositoryTests.cs
  Covid19Radar/Tests/Covid19Radar.UnitTests/Services/EventLogServiceTests.cs
Due: azure-pipelines/app/app-build-adhoc-dev.yml, azure-pipelines/app/app-build-debug-dev.yml, azure-pipelines/app/app-build-store-prod.yml, azure-pipelines/app/app-build-use-test-diagnosis-stg.yml

Fixed the review pointing out
  Covid19Radar/Covid19Radar.Android/MainApplication.cs
  Covid19Radar/Covid19Radar.iOS/AppDelegate.cs
  Covid19Radar/Covid19Radar.iOS/Services/EventLogSubmissionBackgroundService.cs
Due: azure-pipelines/app/app-build-adhoc-dev.yml, azure-pipelines/app/app-build-debug-dev.yml, azure-pipelines/app/app-build-store-prod.yml, azure-pipelines/app/app-build-use-test-diagnosis-stg.yml

Fixed retry and device verification
  COPYRIGHT_THIRD_PARTY_SOFTWARE_NOTICES.md
  Covid19Radar/Covid19Radar.Android/Assets/license.html
  Covid19Radar/Covid19Radar.Android/Services/EventLogSubmissionBackgroundService.cs
  Covid19Radar/Covid19Radar.iOS/Resources/license.html
  Covid19Radar/Covid19Radar.iOS/Services/EventLogSubmissionBackgroundService.cs
  Covid19Radar/Covid19Radar/Common/AppConstants.cs
  Covid19Radar/Covid19Radar/Covid19Radar.csproj
  Covid19Radar/Covid19Radar/Services/EventLogService.cs
  Covid19Radar/Covid19Radar/Services/EventLogServiceNop.cs
  Covid19Radar/Tests/Covid19Radar.UnitTests/Services/EventLogServiceTests.cs
Due: azure-pipelines/app/app-build-adhoc-dev.yml, azure-pipelines/app/app-build-debug-dev.yml, azure-pipelines/app/app-build-store-prod.yml, azure-pipelines/app/app-build-use-test-diagnosis-stg.yml

Fixed code smells
  Covid19Radar/Covid19Radar/Model/V1EventLogRequest.cs
  Covid19Radar/Covid19Radar/Repository/EventLogRepository.cs
  Covid19Radar/Covid19Radar/Services/ExposureDetectionService.cs
Due: azure-pipelines/app/app-build-adhoc-dev.yml, azure-pipelines/app/app-build-debug-dev.yml, azure-pipelines/app/app-build-store-prod.yml, azure-pipelines/app/app-build-use-test-diagnosis-stg.yml

テストのOneTimeSetUpを調整
  Covid19Radar/Tests/Covid19Radar.UITestV2/BaseTestFixture.cs
  Covid19Radar/Tests/Covid19Radar.UITestV2/Tests/S01_Tests.cs
  Covid19Radar/Tests/Covid19Radar.UITestV2/Tests/S05_Tests.cs
  Covid19Radar/Tests/Covid19Radar.UITestV2/Tests/S06_Tests.cs
  Covid19Radar/Tests/Covid19Radar.UITestV2/Tests/S13_Tests.cs
  Covid19Radar/Tests/Covid19Radar.UITestV2/Tests/S14_Tests.cs
  Covid19Radar/Tests/Covid19Radar.UITestV2/Tests/S20_Tests.cs
Due: azure-pipelines/app/app-build-adhoc-dev.yml, azure-pipelines/app/app-build-debug-dev.yml, azure-pipelines/app/app-build-store-prod.yml, azure-pipelines/app/app-build-use-test-diagnosis-stg.yml

Fixed `・` to `/` in english string
  Covid19Radar/Covid19Radar/Resources/AppResources.resx
Due: azure-pipelines/app/app-build-adhoc-dev.yml, azure-pipelines/app/app-build-debug-dev.yml, azure-pipelines/app/app-build-store-prod.yml, azure-pipelines/app/app-build-use-test-diagnosis-stg.yml

Fixed ExposureCheckPage english title
  Covid19Radar/Covid19Radar/Resources/AppResources.Designer.cs
  Covid19Radar/Covid19Radar/Resources/AppResources.ja.resx
  Covid19Radar/Covid19Radar/Resources/AppResources.resx
  Covid19Radar/Covid19Radar/Resources/AppResources.zh-Hans.resx
Due: azure-pipelines/app/app-build-adhoc-dev.yml, azure-pipelines/app/app-build-debug-dev.yml, azure-pipelines/app/app-build-store-prod.yml, azure-pipelines/app/app-build-use-test-diagnosis-stg.yml

Fix the issue that restoring NuGet packages failed on mac-latest image.
  .github/workflows/CI.yml
Due: none

test
  .github/workflows/CI.yml
Due: none

Fixed to camelCase from snake_case
  Covid19Radar/Covid19Radar/Model/V1EventLogRequest.cs
  Covid19Radar/Covid19Radar/Repository/EventLogRepository.cs
Due: azure-pipelines/app/app-build-adhoc-dev.yml, azure-pipelines/app/app-build-debug-dev.yml, azure-pipelines/app/app-build-store-prod.yml, azure-pipelines/app/app-build-use-test-diagnosis-stg.yml

Create design_for_upgrading_to_env2.md
  documents/content/docs/appendix/design_for_upgrading_to_env2.md
Due: none

Fixed unit test
  Covid19Radar/Tests/Covid19Radar.UnitTests/Files/eventlog_submission_parameter1.json
  Covid19Radar/Tests/Covid19Radar.UnitTests/Services/HttpDataServiceTests.cs
Due: azure-pipelines/app/app-build-adhoc-dev.yml, azure-pipelines/app/app-build-debug-dev.yml, azure-pipelines/app/app-build-store-prod.yml, azure-pipelines/app/app-build-use-test-diagnosis-stg.yml

add figure files
  documents/static/appendix/upgrading_v2_fig1.png
  documents/static/appendix/upgrading_v2_fig10.png
  documents/static/appendix/upgrading_v2_fig11.png
  documents/static/appendix/upgrading_v2_fig2.png
  documents/static/appendix/upgrading_v2_fig3.png
  documents/static/appendix/upgrading_v2_fig4.png
  documents/static/appendix/upgrading_v2_fig5.png
  documents/static/appendix/upgrading_v2_fig6.png
  documents/static/appendix/upgrading_v2_fig7.png
  documents/static/appendix/upgrading_v2_fig8.png
  documents/static/appendix/upgrading_v2_fig9.png
Due: none

構成修正
  Covid19Radar.sln
Due: azure-pipelines/app/app-build-adhoc-dev.yml, azure-pipelines/app/app-build-debug-dev.yml, azure-pipelines/app/app-build-store-prod.yml, azure-pipelines/app/app-build-use-test-diagnosis-stg.yml

PR 1042 修正 [Xamarin.TestCloud.Agent]を削除
  Covid19Radar/Covid19Radar.iOS/Covid19Radar.iOS.csproj
Due: azure-pipelines/app/app-build-adhoc-dev.yml, azure-pipelines/app/app-build-debug-dev.yml, azure-pipelines/app/app-build-store-prod.yml, azure-pipelines/app/app-build-use-test-diagnosis-stg.yml

change snake case to camel case
  src/Covid19Radar.Api.Tests/Files/eventlog_submission_parameter1.json
  src/Covid19Radar.Api.Tests/Files/eventlog_submission_parameter2.json
  src/Covid19Radar.Api.Tests/Files/eventlog_submission_parameter_broken.json
  src/Covid19Radar.Api/Models/V1EventLogSubmissionParameter.cs
Due: none

Deploying to gh-pages from @ db01003b72bfb871e3c1625315f57bc06bd35350 🚀
  agreements/privacy_policy/index.html
  agreements/terms_of_use/index.html
  docs/appendix/ios_local_notification/index.html
  docs/appendix/preference_specification/index.html
  docs/contribution/contributors/index.html
  docs/contribution/contributors_covid19radars/index.html
  docs/contribution/guidelines/index.html
  docs/contribution/handling_pullreqeust/index.html
  docs/contribution/open_beta_version/index.html
  docs/development/branches/index.html
  docs/development/how_to_build/index.html
  docs/development/maintainance_oss_licenses/index.html
  docs/development/multi_language/index.html
  docs/operation_policy/index.html
  index.html
  materials/appstore/en.html
  materials/appstore/ja.html
  materials/appstore/zh_CN.html
  materials/googleplay/en.html
  materials/googleplay/ja.html
  materials/googleplay/zh_CN.html
  report/a11y_20211201.html
  report/accident-v1.4.0.html
  sitemap.xml
Due: none

iOSの通知アラートの回避
  Covid19Radar/Tests/Covid19Radar.UITestV2/Pages/HomePage.cs
Due: azure-pipelines/app/app-build-adhoc-dev.yml, azure-pipelines/app/app-build-debug-dev.yml, azure-pipelines/app/app-build-store-prod.yml, azure-pipelines/app/app-build-use-test-diagnosis-stg.yml

Xamarin.TestCloud.Agentを追加
  Covid19Radar/Covid19Radar.iOS/Covid19Radar.iOS.csproj
Due: azure-pipelines/app/app-build-adhoc-dev.yml, azure-pipelines/app/app-build-debug-dev.yml, azure-pipelines/app/app-build-store-prod.yml, azure-pipelines/app/app-build-use-test-diagnosis-stg.yml

Move LogPeriodicDeleteService scheduling from App to AppDelegate and MainApplicaiton.
  Covid19Radar/Covid19Radar.Android/MainApplication.cs
  Covid19Radar/Covid19Radar.Android/Services/Logs/LogPeriodicDeleteService.cs
  Covid19Radar/Covid19Radar.iOS/AppDelegate.cs
  Covid19Radar/Covid19Radar.iOS/Services/Logs/LogPeriodicDeleteService.cs
  Covid19Radar/Covid19Radar/App.xaml.cs
Due: azure-pipelines/app/app-build-adhoc-dev.yml, azure-pipelines/app/app-build-debug-dev.yml, azure-pipelines/app/app-build-store-prod.yml, azure-pipelines/app/app-build-use-test-diagnosis-stg.yml

Move nuget.org declaration to Nuget.config.
  .github/workflows/CI.yml
  Nuget.config
Due: azure-pipelines/app/app-build-store-prod.yml

Remove test step.
  .github/workflows/CI.yml
Due: none

Fix the issue that restoring NuGet packages failed on mac-latest image.
  Nuget.config
Due: azure-pipelines/app/app-build-store-prod.yml

iOSの通知アラートの回避
  Covid19Radar/Tests/Covid19Radar.UITestV2/AppManager.cs
  Covid19Radar/Tests/Covid19Radar.UITestV2/Tests/S20_Tests.cs
  Covid19Radar/Tests/Covid19Radar.UITestV2/Tests/S21_Tests.cs
Due: azure-pipelines/app/app-build-adhoc-dev.yml, azure-pipelines/app/app-build-debug-dev.yml, azure-pipelines/app/app-build-store-prod.yml, azure-pipelines/app/app-build-use-test-diagnosis-stg.yml

Update CIserver.yml
  .github/workflows/CIserver.yml
Due: none

Fixed resource
  Covid19Radar/Covid19Radar/Resources/AppResources.ja.resx
  Covid19Radar/Covid19Radar/Resources/AppResources.resx
  Covid19Radar/Covid19Radar/Resources/AppResources.zh-Hans.resx
Due: azure-pipelines/app/app-build-adhoc-dev.yml, azure-pipelines/app/app-build-debug-dev.yml, azure-pipelines/app/app-build-store-prod.yml, azure-pipelines/app/app-build-use-test-diagnosis-stg.yml

iOSの通知アラートの回避(2)
  Covid19Radar/Tests/Covid19Radar.UITestV2/Pages/TutorialPage6.cs
Due: azure-pipelines/app/app-build-adhoc-dev.yml, azure-pipelines/app/app-build-debug-dev.yml, azure-pipelines/app/app-build-store-prod.yml, azure-pipelines/app/app-build-use-test-diagnosis-stg.yml

Path conditions:
  azure-pipelines/app/app-build-adhoc-dev.yml: any of: Covid19Radar, Covid19Radar.sln, azure-pipelines/app
  azure-pipelines/app/app-build-debug-dev.yml: any of: Covid19Radar, Covid19Radar.sln, azure-pipelines/app
  azure-pipelines/app/app-build-store-prod.yml: any of: Covid19Radar, Covid19Radar.sln, azure-pipelines/app, Nuget.config
  azure-pipelines/app/app-build-use-test-diagnosis-stg.yml: any of: Covid19Radar, Covid19Radar.sln, azure-pipelines/app
